.dropdownList{
    position: absolute;
    top:100%;
    right:0%;
    list-style-type: none;
    padding-left: 0;
    background-color: white;
    max-width: 180px;
    display: none;
}

.dropdownList::before{
    content: '';
    height: 45px;
    width: 45px;
    transform: rotate(45deg);
    background-color: white;
    position: absolute;
    top:0px;
    right:8px;
    z-index:1;
}

.dropdownListItem{
    color: black;
    padding:15px 60px 15px 10px;
    border-bottom: 1px dashed rgb(212, 210, 210); 
    max-width: 120px;
    font-size: 14.5px;
    font-weight: 600;
    white-space: nowrap;
}

.dropdownListItem:hover{
    color:#81ba00 ;
}